# Fider
BASE_URL=http://localhost:3000
GO_ENV=development
JWT_SECRET=

# PostgreSQL
POSTGRES_USER=fider
POSTGRES_PASSWORD=
POSTGRES_DB=fider
DATABASE_URL_CONTAINER=

# Logging
LOG_LEVEL=DEBUG
LOG_CONSOLE=true
LOG_SQL=true
LOG_FILE=false

# Email
EMAIL_NOREPLY=noreply@example.local
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=